/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars
/terraform/override.tf

lambdas/.venv

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store